<template>
  <div>
    <div>
      <span v-if="dataIsLoading">Loading data...</span>
      <span v-else>Total {{ this.apiData.length }} rows found</span>
    </div>
    <ag-grid-vue class="ag-theme-blue api-table"
                 :columnDefs="columnDefs"
                 :rowData="apiData">
    </ag-grid-vue>
  </div>
</template>
<script>
  import {AgGridVue} from "ag-grid-vue";
  import 'ag-grid-community/dist/styles/ag-grid.css';
  import 'ag-grid-community/dist/styles/ag-theme-blue.css';
  import {config} from "../../config.example";

  /**
   * Transform strings array into ag-grid compatible columns
   * @param {Array<String>} arr
   */
  function arrayToAgGridColumns(arr) {
    const capitalize = (s) => {
      if (typeof s !== 'string') return ''
      return s.charAt(0).toUpperCase() + s.slice(1)
    }

    return arr.map(columnName => {
      return {
        headerName: capitalize(columnName.replace(/_/g, ' ')),
        field: columnName,
      };
    });
  }

  /**
   * Table renderer wrapper which provides some extra UI to the table
   */
  export default {
    props: ['apiUrl', 'columns'],

    data() {
      let columns = this.columns;

      if (Array.isArray(columns)) {
        columns = arrayToAgGridColumns(columns);
      }

      return {
        dataIsLoading: true,
        apiData: [],
        columnDefs: columns,
      }
    },

    methods: {
      async loadData() {
        this.dataIsLoading = true;
        this.apiData = await fetch(config.API_URL + '/' + this.apiUrl.replace(/^\//, ''))
          .then(async response => {
            return (await response.json()).data;
          });

        this.dataIsLoading = false;
      }
    },

    async mounted() {
      this.loadData();
    },

    components: {
      AgGridVue,
    }
  }
</script>

<style lang="scss">
  .api-table {
    width: 100%;
    height: 500px;
  }
</style>
