<template>
  <div>
	<h4>New cars brands page</h4>

  <vx-card>
    <slot name="media">
      <api-table :columns="columns" api-url="/new-cars-brands/index"></api-table>
    </slot>
  </vx-card>
  </div>
</template>

<script>
  import VxCard from "../components/vx-card/VxCard";
  import ApiTable from "../components/ApiTable";

  export default {
    data() {
      return {
        columns: [
          'id',
          'new_car_id',
          'parent_car_id',
          'brand',
          'model_class',
          'model_name',
          'package_name',
          'package_title',
          'package_description',
          'package_description_split',
          'fuel_id',
          'fuel2_id',
          'fuel_filter_id',
          'drive_train_id',
          'transmission_id',
          'transmission_description',
          'engine',
          'engine_description',
          'horse_power',
          'tog',
          'co2',
        ],
      }
    },
    components: {
      ApiTable,
      VxCard,
    },
  };
</script>
